/* 
    Document   : news
    Created on : 26/01/2013, 16:12:30
    Author     : Bortoli German
    Description:
        Purpose of the stylesheet follows.
*/

#sidebar #menu_gz_news .ico.ico-48.ico-gz_news {
    background-image: url("../graphics/icons/48x48/childish_NewsGray.png") !important;
}

#sidebar #menu_gz_news.hover .ico.ico-48.ico-gz_news {
    background-image: url("../graphics/icons/48x48/childish_News.png") !important;
}

#item-form #plugin-hook .meta {
	margin: 20px 0 0 0;
}